<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gio.studentprofile" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Duldoco_StudentProfile</name>
    <description>
        A responsive multi-page student profile application built with HTML, CSS and Apache Cordova.
    </description>
    <author email="gio.duldoco@example.com" href="https://github.com/goji-duldocogio">
        Gio Duldoco
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <access origin="https://fonts.googleapis.com" />
    <access origin="https://fonts.gstatic.com" />
    <preference name="Orientation" value="default" />
</widget>
